.a-text {
  margin: 0px;
  padding: 0px;
  font-family: $fontset-normal;

  // font size
  &--font10 {
    font-size: $font-10;
  }

  &--font11 {
    font-size: $font-11;
  }

  &--font12 {
    font-size: $font-12;
  }

  &--font13 {
    font-size: $font-13;
  }

  &--font14 {
    font-size: $font-14;
  }

  &--font15 {
    font-size: $font-15;
  }

  &--font16 {
    font-size: $font-16;
  }

  &--font17 {
    font-size: $font-17;
  }

  &--font18 {
    font-size: $font-18;
  }

  &--font24 {
    font-size: $font-24;
  }

  // line height
  &--line14 {
    line-height: 14px;
  }

  &--line15 {
    line-height: 15px;
  }

  &--line16 {
    line-height: 16px;
  }

  &--line17 {
    line-height: 17px;
  }

  &--line18 {
    line-height: 18px;
  }

  &--line20 {
    line-height: 20px;
  }

  &--line21 {
    line-height: 21px;
  }

  &--line22 {
    line-height: 22px;
  }

  &--line24 {
    line-height: 24px;
  }

  &--line25 {
    line-height: 25px;
  }

  &--line26 {
    line-height: 26px;
  }

  &--line28 {
    line-height: 28px;
  }

  &--line33 {
    line-height: 33px;
  }

  // font weight
  &--regular {
    font-weight: $font-regular;
  }

  &--medium {
    font-weight: $font-medium;
  }

  &--bold {
    font-weight: $font-bold;
  }

  &--semi-bold {
    font-weight: $font-semi-bold;
  }

  // color
  &--white {
    color: $color-white;
  }

  &--black-active {
    color: $color-secondary-one;
  }

  &--gray-light {
    color: $color-gray-light;
  }

  &--green {
    color: $color-secondary-four;
  }

  &--primary {
    color: $color-primary;
  }

  &--slate-gray {
    color: $color-secondary-two;
  }

  &--blue-bayoux {
    color: $color-gray-four;
  }

  &--pumpkin {
    color: $color-warning;
  }

  &--cinnabar {
    color: $color-error;
  }

  // font style
  &--italic {
    font-style: italic;
  }

  // Font alignment
  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--justify {
    text-align: justify;
  }
}
