.a-icon {
  display: inline-block;

  &__img {
    &--full {
      height: 100%;
      width: 100%;
      display: block;
    }

    &--hover:hover {
      cursor: pointer;
    }

    &--iconColorWhite {
      cursor: pointer;
      filter: invert(100%) sepia(44%) saturate(51%) hue-rotate(43deg) brightness(307%) contrast(296%);
    }

    &--iconColorBlueViolet {
      cursor: pointer;
      filter: invert(25%) sepia(55%) saturate(1536%) hue-rotate(205deg) brightness(100%) contrast(95%);
    }
  }

  // size
  &--xSmall {
    width: 6.25px;
    height: 3.82px;
  }

  &--mediumArrow {
    width: 6.7px;
    height: 11.64px;
  }

  &--lMediumArrow {
    width: 9.98px;
    height: 5.74px;
  }

  &--paginationArrow {
    width: 5.77px;
    height: 10px;
  }

  &--dropDownRighArrow {
    width: 10px;
    height: 10px;
  }

  &--downArrow {
    width: 12px;
    height: 12px;
  }

  &--eSMedium {
    width: 13.06px;
    height: 10.08px;
  }

  &--sMedium {
    height: 14px;
    width: 14px;
  }

  &--searchSmall {
    width: 14px;
    height: 15px;
  }

  &--mMedium {
    height: 15px;
    width: 15px;
  }

  &--mXMedium {
    height: 16px;
    width: 16px;
  }

  &--lMedium {
    height: 17px;
    width: 17px;
  }

  &--largeArrowDown {
    width: 17.41px;
    height: 9.17px;
  }

  &--xLMedium {
    height: 18px;
    width: 18px;
  }

  &--eSLarge {
    height: 20px;
    width: 20px;
  }

  &--sLarge {
    height: 22px;
    width: 22px;
  }

  &--eLarge {
    height: 24px;
    width: 24px;
  }

  // linebar
  &--linebar {
    height: 37px;
    width: 2px;
  }

  &--linebarSmall {
    height: 23px;
    width: 2px;
  }
}
