.a-textEditor {
  @include displayFlex (column, flex-start, unset);

  &__label {
    font-family: $fontset-normal;
    font-style: normal;
    font-weight: $font-regular;
    font-size: $font-14;
    line-height: 20px;
    color: $color-secondary-two;
    padding-bottom: 10px;
  }

  &__textarea {
    background: $color-white;
    resize: none;
    outline: none;
    scrollbar-width: none;
    border: none;
    padding: 4px;
    min-height: 332px;

    &::-webkit-scrollbar {
      display: none;
    }


  }

  &__default {
    border: 1px solid $color-gray-light-two;
    border-radius: 8px;
    background: $color-white;
    resize: none;
    outline: none;
    padding: 14px 16px;
    min-height: 360px;

  }

  &__wrapper {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid $color-gray-light-two;
  }

  .ck {
    cursor: text;

    .ck-list__item {
      background-color: $color-white;
    }
  }

  span.ck.ck-toolbar__separator {
    margin: 0 !important;
  }

  .ck-reset_all :not(.ck-reset_all-excluded *) {
    border-radius: 8px 8px 0 0 !important;
    height: 39px;
  }

  .ck-rounded-corners {
    border-radius: 0px 0px 8px 8px !important;
    border: 1px solid $color-gray-light-two;

  }

  .ck-content {
    min-height: 350px;
    padding-left: 35px !important;
    .ck-placeholder{
      margin-left: -12px;
    }
  }
}
