.m-questionSetHeader {
  @include displayFlex(row, space-between, center);
  padding:20px 30px 20px 30px;
  border: 1px solid $color-secondary-two;
  border-radius: 15px;
  &__group{
    @include displayFlex(row, center,center);
    column-gap: 20px;
    &__textGroup{
      @include displayFlex(row, center, center);
      &__label{
        text-transform: capitalize;
      }
      &__value{
        margin-left: 2px;
      }
    }
  }
}
