.m-menu {
  @include displayFlex(row, space-between, center);
  padding: 12px 12px 12px 15px;
  cursor: pointer;

  &__content {
    @include displayFlex(row, flex-start, center);
    gap: 12.7px;

    &__menuIcon {
      width: 30px;
      height: 30px;
      @include displayFlex(row, center, center);
      border-radius: 12px;
      background: $color-white;
    }
  }

  &__arrowIcon {
    display: none;
  }

  &:hover {
    background: $color-white;
    border-radius: 15px;
    box-shadow: 0px 3.5px 5.5px $color-shadow-image;

    .m-menu {
      &__content {
        &__menuIcon {
          background: $color-primary;
        }
      }

      &__arrowIcon {
        display: block;
      }
    }
  }
}


