.a-button {
  color: $color-white;
  background: $color-primary;
  border-radius: 6px;
  border: 1px solid $color-primary;

  font-weight: $font-bold;
  font-size: $font-14;
  line-height: 150%;
  text-align: center;
  cursor: pointer;

  transition: 0.2s ease-in-out;

  &:hover {
    background: $color-button-hover;
  }
  &:focus {
    box-shadow: 0px 0px 4px 4px $color-shadow-button;
  }
  &:disabled {
    background-color: $color-button-disabled;
    border: 1px solid #ffffff00;
  }

  &--large {
    font-size: $font-16;
    padding: 15px 30px;
    border-radius: 8px;
  }

  &--medium {
    font-size: $font-14;
    padding: 11.5px 30px;
  }

  &--small {
    border-radius: 4px;
    padding: 7px 15px;
    font-size: $font-16;
  }

  &--bgRed {
    border: 1px solid $color-error;
    color: $color-white;
    background-color: $color-error;
    &:hover {
      background-color: $color-error;
    }
  }

  &--bgOrange {
    background: $color-warning;
    border: 1px solid $color-warning;
    color: $color-white;
    &:hover {
      background-color: $color-warning;
    }
  }

  &--bgGreen {
    background: $color-green;
    border: 1px solid $color-green;
    color: $color-white;
    &:hover {
      background-color: $color-green;
    }
  }

  &--bgGrayLighter {
    background: $color-gray-light-three;
    border: 1px solid $color-gray-light-three;
    color: $color-white;
    &:hover {
      background-color: $color-gray-light-three;
    }
  }

  &--bgGrayLight {
    background: $color-gray-light-two;
    border: 1px solid $color-gray-light-two;
    color: $color-white;
    &:hover {
      background-color: $color-gray-light-two;
    }
  }
  &--bgPrimaryTwo {
    background: $color-primary-two;
    border: 1px solid $color-primary-two;
    color: $color-white;
    &:hover {
      background-color: $color-primary-two;
    }
  }

  &--outlined {
    background: none;
    color: $color-primary;

    &:disabled {
      background: none;
      color: $color-secondary-two;
      border: 1px solid $color-secondary-two;
    }
  }
  &--hover.a-button--outlined {
    &:hover {
      background: none;
      color: $color-button-hover;
      border: 1px solid $color-button-hover;
    }
  }

  &--hover.a-button--red {
    &:hover {
      background: $color-error;
      border: 1px solid $color-error;
      color: $color-white;
    }
  }
  &--hover.a-button--orange {
    &:hover {
      background: $color-warning;
      color: $color-white;
      border: 1px solid $color-warning;
    }
  }
  &--hover.a-button--green {
    &:hover {
      background: $color-green;
      color: $color-white;
      border: 1px solid $color-green;
    }
  }

  &--red {
    color: $color-error;
    border: 1px solid $color-error;
  }
  &--orange {
    color: $color-warning;
    border: 1px solid $color-warning;
  }
  &--green {
    color: $color-green;
    border: 1px solid $color-green;
  }
  &--secondaryOne {
    color: $color-secondary-one;
    border: 1px solid $color-secondary-one;
  }
  &--secondaryTwo {
    color: $color-secondary-two;
    border: 1px solid $color-secondary-two;
  }
  &--grayLight {
    color: $color-gray-light-two;
    border: 1px solid $color-gray-light-two;
  }

  //font-weight
  &--regular {
    font-weight: $font-regular;
  }

  &--mid {
    font-weight: $font-medium;
  }

  &--bold {
    font-weight: $font-bold;
  }

  &--semiBold {
    font-weight: $font-semi-bold;
  }

  &--borderless {
    border: 1px solid #ffffff00;
    &:hover {
      border: 1px solid #ffffff00;
      background: none;
    }
    &:focus {
      box-shadow: none;
    }
    .a-button__content {
      gap: 3px;
    }
  }

  &--fullwidth {
    width: 100%;
  }

  &--iconText {
    padding: 10px 15px;
  }

  &--iconLarge {
    padding: 8px;
  }

  &--iconSmall {
    padding: 6px;
  }

  &__icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  &--rounded {
    border-radius: 50%;
    &:hover {
      background: $color-secondary-one;
    }
  }
  &--semiRounded {
    border-radius: 12px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
