.a-note {
  @include displayFlex(flex, space-between, center);
  background: $color-white-two;
  padding: 7px 10px 7px 14px;
  border-radius: 4px;

  &__text {
    font-family: $fontset-normal;
    font-style: normal;
    font-weight: $font-regular;
    color: $color-secondary-two;
    @include font($font-14, 19.6px);
  }
  &__icon {
    width: 16px;
    height: 16px;
  }
  &__icon:hover {
    cursor: pointer;
  }
}

