.m-question {
  width: 100%;
  min-height: 88px;
  padding: 23px 30px;
  background-color: $color-white;
  border-radius: 15px;
  @include displayFlex(row, space-between, center);
  &__type {
    @include displayFlex(row, start, center);
    gap: 8px;
  }
}
