.a-checkbox {
  $root: &;

  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  @include font($font-14, 19.6px);
  font-weight: $font-regular;
  -webkit-user-select: none;

  &__checkfield {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &__custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: $color-white;
    border: 1px solid $color-secondary-two;
    border-radius: 3px;
  }

  #{$root}:hover &__checkfield ~ &__custom {
    background-color: $color-primary;
  }

  &__checkfield:checked ~ &__custom {
    background-color: $color-primary;
  }

  &__custom:after {
    content: '';
    position: absolute;
    display: none;
  }

  &__checkfield:checked ~ &__custom:after {
    display: block;
  }

  &__custom:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
